.email {
  position: fixed;
  bottom: 0;
  right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  &-link {
    writing-mode: vertical-lr;
    text-decoration: none;
    color: var(--lightest-slate);
    font-family: var(--LeagueSpartan);
    font-size: var(--tsm2);
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
    outline: 2px dashed transparent;
    padding: 10px;
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--light-slate);
    }
    &:focus {
      outline-color: var(--lightest-slate);
    }
  }
  &::after {
    content: "";
    display: block;
    width: 2px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
  }
  @media screen and (max-width: 1080px) {
    right: 1rem;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}