.footer {
    text-align: center;
    padding: 10px;
    z-index: 100;
    background-image: linear-gradient(to left, #231e4f , #f49c7c );
    color: #000000;
    position: relative;
    font-family: var(--LeagueSpartan);
  
    .zigzag {
        position: absolute;
        display: flex;
        top: 0px;
        left: 5.5%;
        width: 88%;
        border-top: 2px solid;
        border-color: var(--light-slate);
    }
  
    .centered-text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  
    p {
      margin: 0;
      font-size: 18px;
    }
  
    @media screen and (max-width: 1024px) {
     
    }
  
    @media screen and (max-width: 768px) {

     
    }
  }
  